html, body{
	height:100%;
	padding:0px;
	margin:0px;
	font-family: 'Prompt', sans-serif;
}


#inicio {
	color:white;
}

#inicio:hover {
	color:blue;
}

#boton1 {
	margin-left: 14px;
	background-color:rgba(51, 51, 51, 1);
	color:rgba(255, 255, 255, 1;)
	
}


	
#botonVolver {
	display:none;
	position:fixed;
	height:46px;
	bottom:13px;
	right:14px;
	z-index:999;
    cursor: pointer;
}

#botonVolver img {
	height:100%;
	max-height:100%;
}


.jumbotron {	
	padding-bottom: 8%;
	padding-top: 0px;
}

.navbar {
	font-size:1.2em;	
}

h1, h2 {
	color:black;
	background-color:#21506e;
	font-size:2.7em;
}

h3 {
	font-size:2em;
}

p {
	font-size:1.2em; 
}

.fecha {
	font-size:0.8em;	
}
	
#noticias a {
    text-decoration: none;
	color: black;
}

#noticias a *:active {
    text-decoration: none;
	color: black;
}

#news1:focus {
	outline:none;
}

.jumbotron {
	background-image: url(../img/ch.png);
     background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center;	;
	text-align:center;
	margin-bottom:0px;
	padding-top: 100px;
}

.jumbotron img {

	max-height:200px;
}

.navbar-header img {
	display:none;
}

#margen { 
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	text-indent:0;
}

.dropdown-menu {	
	background-image: url(../img/ch.png);
    background-repeat: no-repeat;
    background-size: cover;
	width:340px;
}

.conTipo {
	margin-top:15px;
}

.thumbnail {
	padding:18px;
	border:2px solid #ddd;
	border-radius:4px;
}

.shortNew:hover {
    -ms-transform: scale(1.02, 1.02); /* IE 9 */
    -webkit-transform: scale(1.02, 1.02); /* Safari */
    transform: scale(1.02, 1.02);		
}

#noticias, #noticiaCompleta {
	padding-right:340px;
}

.col-sm-6, .col-sm-12 {
	padding-right:0;
}

#publicidad1 {
	display:none;
}

#publicidad2 {
	display:block; 
	position:absolute; 
	right:0px; 
	width:320px;
	padding:10px;
	text-align:center;
}

#boton1 {
	width:calc(100% - 340px);
	margin-bottom: 30px;
}


#botonVolver {
	height:50px;
	bottom:13px;
	right:20px;
}


